<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
        <title>Kalkulator walut</title>
    </head>
    <body>
        <h1>Kalkulator walut</h1>
        <label for="waluta">Wybierz walutę:</label>
        <form method="POST" action="/calc">
        <select name="kody">
            {% for kod in kursy %}
           <option value="{{kod['nazwa']}}">{{kod['nazwa']}}</option>
            {% endfor %}
        </select><br>
        <label for="ile">Ile waluty chcesz zakupić?</label><br>
            <input type="text" id="ile" name="ile">
            <input type="submit" value="Przelicz">
        </form>
        {% if wynik %}
        <h2>{{ wynik }}</h2>
        {% endif %}
    </body>
</html>